@model OkulİdareSistemi.Models.OgrenciDers
@{
    Layout = "~/Views/Shared/Sidebar.cshtml";
}


@using (Html.BeginForm("OgrenciDersEdit", "Home", FormMethod.Post))
{
    <div class="col-lg-12">
        <div class="card card-horizontal card-default card-md mb-4">
            <div class="card-header">
                <h3><b>ATAMA GÜNCELLEME</b></h3>
            </div>
            <div class="card-body py-md-30">
                <div class="horizontal-form">
                    <form action="#">
                        <div style="background-color:darkred; text-align:center; align-items:center;">
                            <h3 style="color: white;">@ViewBag.Message</h3>
                        </div>
                        <div class="form-group row mb-25">
                            <div class="col-sm-3 d-flex aling-items-center">
                                <label for="inputEmailIcon" class=" col-form-label color-dark fs-14 fw-500 align-center">
                                    Ders
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <div class="with-icon">
                                    @Html.DropDownListFor(model => model.DersId, (List<SelectListItem>)ViewBag.DDLDersler, new { @class = "form-control  form-control-lg text-center" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-25">
                            <div class="col-sm-3 d-flex aling-items-center">
                                <label for="inputEmailIcon" class=" col-form-label color-dark fs-14 fw-500 align-center">
                                    Öğrenci
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <div class="with-icon">
                                    @Html.DropDownListFor(model => model.OgrenciId, (List<SelectListItem>)ViewBag.DDLOgrenciler, new { @class = "form-control  form-control-lg text-center" })
                                </div>
                            </div>
                        </div>
                        <div class="layout-button mt-25">
                            <input type="submit" value="Güncelle" class="btn btn-primary btn-default btn-squared px-30" style="width:100%" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

}



